html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* sass --watch resources/sass/app.scss:resources/css/app.css */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  text-decoration: none;
}

body {
  line-height: 1;
  background: #574b4b;
  font-family: "Tilt Neon", sans-serif;
  align-items: center;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
table tr td {
  text-transform: uppercase;
}
table tr td .btn {
  text-transform: uppercase;
}

.row {
  -bs-gutter-x: 0rem;
}

.mobile {
  display: none;
}
@media screen and (max-width: 769px) {
  .mobile {
    display: block;
    margin-top: 5px;
  }
}

.card {
  border-color: black;
  border-width: 4px;
  margin-top: 100px;
}
.card .cadastro .form-group input {
  background-color: rgb(229, 236, 231);
  border-color: black;
  margin-bottom: 15px;
  margin-top: 5px;
}
.card .botoes-cadastro a {
  background-color: rgb(42, 61, 165);
}
.card .botoes-cadastro a:hover {
  background-color: rgb(187, 189, 197);
  color: rgb(18, 18, 19);
}

.botao-excluir {
  background-color: rgb(204, 17, 17);
  border-radius: 8%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao-excluir:hover {
  background-color: rgb(236, 238, 248);
  color: rgb(18, 18, 19);
}

.botao-editar {
  background-color: rgb(158, 151, 253);
  border-radius: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.botao-editar:hover {
  background-color: rgb(236, 238, 248);
  color: rgb(18, 18, 19);
}

.content-home {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 769px) {
  .content-home {
    width: 100%;
    display: flex;
    display: none;
  }
  .content-home .col-sm-2 {
    width: 100%;
    margin-top: 15px;
  }
}
.content-home .botoes-home {
  width: 200px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-home .botoes-home:hover {
  background-color: rgb(109, 95, 95) !important;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .content-home .botoes-home {
    width: 100%;
  }
}

/*# sourceMappingURL=app.css.map */
